
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Jura:wght@300..700&family=Lobster&family=PT+Mono&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Tektur:wght@400..900&family=Unbounded:wght@200..900&display=swap');


.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 236, 236);
    margin: auto;
    border-radius: 24px;
    
}
.start{
    text-align: center;
    padding: 25px;
}
ul{
   list-style-type: none;
   padding: 0px;
   display: flex;
   justify-content: center;
   gap: 10px;
}
.button{
    color: rgb(44, 155, 0);
    background-color: white;
    width: 150px;
    padding: 8px;
    margin: auto;
    border-radius: 20px;
    border: 2px solid green;
}

.disc{
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: "Science Gothic", sans-serif;
    font-size: x-small;
}
.all{
    background-color: rgb(223, 223, 223);
    margin: auto;
    border-radius: 24px;
    margin-top: 18px
}
header{
    padding: 25px;
    background-color: rgb(226, 214, 238);
    border-radius: 20px;
    font-size: x-small;
}
.Beta{

    color: rgb(155, 31, 0);
    background-color: white;
    width: 150px;
    padding: 8px;
    margin: auto;
    border-radius: 20px;
 
    border: 2px solid rgb(128, 0, 0);
}
.first{
    width: 270px;
    border-radius: 23px;
}
.second{
    width: 300px;
    border-radius: 23px;
    margin: auto;
    text-align: center;
}
.photo{
    text-align: center;
}
.third{
    width: 300px;
    border-radius: 23px;
}
.fourth{
    width: 300px;
    border-radius: 23px;
}
.five{
    width: 300px;
    border-radius: 23px;
}
.six{
    width: 300px;
    border-radius: 23px;
}

.seven{
    width: 300px;
    border-radius: 23px;
}
.eight{
    width: 300px;
    border-radius: 23px;
}